@model Developers.Models.Recepcionequipo

@{
    ViewData["Title"] = "Ver Recepcion de equipo";
}

<h1>Ver</h1>

<div>
    <h4>Recepcion de equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accesorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accesorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaPc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaPc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoledoPc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoledoPc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nserie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nserie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanpacidadRam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanpacidadRam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAlmacenamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAlmacenamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoGpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoGpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grafico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grafico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdServicioNavigation.IdServicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRe" class="btn btn-outline-success">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Atras</a>
</div>
